:root
{
	--transparent-black-dark: rgba(0,0,0, .125);
	--transparent-black-light: rgba(0,0,0, .06);
	--transparent-black-lighter: rgba(0,0,0, .045);
	--transparent-black-lightest: rgba(0,0,0, .02);
}
